/* CSS Document */

:root {
   /* --bg-secondary: url('../images/forest2.jpg') center center no-repeat;*/
    /* --bg-secondary: #000; */
    /* --cl-accent: #FF00A3; */
    --cl-accent: #9DB023;
    --cl-button: #9DB023;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-kerning: auto;
}

html {
    font-size: 100%;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;

    --scroll-behavior: smooth;
    scroll-behavior: smooth;
    scroll-padding-top: 10rem;
}

body {
    color: #EEECCD;
    background: #130e06;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;

    overflow: hidden;
    overflow-y: auto;
}

b,
strong {
    font-weight: bolder;
}

a {
    color: inherit;
    background-color: transparent;
}

img {
    border-style: none;
    max-width: 100%;
    height: auto;
}

p {
    font-size: 1.15rem;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    margin: 1rem 0 0;
    text-shadow: 1px 1px 0 #0F2E14;
}

input,
button {
    font-size: clamp(1.25rem, 8vw, 2.15rem);
    font-family: inherit;
    line-height: 1;
}

button {
    cursor: pointer;
    color: #EEECCD;
    font-weight: bold;
    text-shadow: 1px 1px 0 #0F2E14;
    background-color: #CFA86E;
    border-radius: 0.4rem;
    border: 1px solid #50422b;
    box-shadow: 1px 1px 0.25px 0.25px #50422b;
    margin-top: 2rem;
    padding: 0.4rem 1rem;
}

button:hover, 
button:focus {
    background-color: #b89054;
}

h1,
h2,
h3 {
    margin: 0;
    line-height: 1;
}

h2 {
    font-size: 1.75rem;
    font-size: clamp(1.25rem, 8vw, 2.25rem);
}

h3 {
    font-size: 2.25rem;
    font-size: clamp(1.50rem, 10vw, 2.75rem);
    line-height: 1;
    color: #CFA86E;
}

figure {
    margin: 2rem;
}


.menu {
    margin: 0;
    padding-left: 0;
}

.menu li {
    list-style: none;
}

.menu a {
    text-decoration: none;
}


.container {
    padding: 0 1.25rem;
    max-width: 1160px;
    margin: 0 auto;
}

/* HEADER */

header {
    min-height: 100vh;

    background: url('../images/saw.jpg') center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 50%;
    background-color: #130e06;

    display: flex;
    align-items: flex-end;
}

.main-nav {
    width: 100vw;
    background: #130e06c7;

    position: fixed;
    z-index: 3;
    top: 0px;
}

.main-nav ul {
    font-size: clamp(1.25rem, 3vw, 1.85rem);
    line-height: 1;
    padding: 0 1.85rem 0 1.25rem;

    display: flex;
    justify-content: space-between;
 /*   gap: clamp(1rem, 2vw, 1.75rem);*/

}

.main-nav a {
    display: block;
}

.main-nav li {
    display: flex;
    align-items: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.menu-dropdown {
    margin: 3.125em auto; /* 50/16 */
    text-align: center;
}

.menu-dropdown {
    display: none;
    margin: 2rem 0 2.5rem;
    font-size: 1.3rem;
}

.menu-dropdown select{
    color: #F7F3D4;
    background: #130e06c7;
    border: 1px solid #130e06c7;
    border-radius: .3em;
    width: 20rem;
    height: 2rem;
    line-height: 2rem;
    padding: 0 .5rem;
    cursor: pointer;
}

/* FEATURES */
main {
    background: url('../images/forest.jpg') center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 4rem 0;
    position: relative;
}

.feature {
    margin-bottom: 4rem;
    background: #130e06c7;
}

.feature:last-of-type {
    margin-bottom: 0;
}

.feature h2 {
    color: #EEECCD;
    text-shadow: 3px 3px 0 #0F2E14;
}

.feature h3 {
    text-shadow: 1px 1px 0 #0F2E14;
}

.feature .content {
    position: relative;
    bottom: 2rem;
    padding: 2rem;
}

.img-ref img{
    cursor: pointer;
    margin-top: 2rem;
    max-width: 6rem;
    height: auto;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted #130e06;
  }
  
.tooltiptext {
    color: #f5ce59;
    font-weight:normal;
    font-size:small;
    margin: 0;
    padding: 0.25rem 0;
  }
  
/*.tooltip:hover .tooltiptext, :active .tooltiptext, :focus .tooltiptext {
    display: block;
}*/

.price-butt:hover, :active, :focus {
    text-decoration: none;
}

.felling,
.firewood,
.saw {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    /*width: 100vw; /* Full width (cover the whole page) */
   /* height: 100vh; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #cfa86e9b; /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

.price-list {
  /*  position: absolute;*/
  width: clamp(20rem, 40vw, 50rem);
  height: clamp(10rem, 40vh, 40rem);
  margin: 30vh auto;
  padding: 0.5rem;
  overflow: auto;

  background-color: #130e06;
}

.price-list h2 {
    text-align: center;
    padding: 1rem 0 1rem 0;
}

.row {
    padding-top: 0.25rem;
}

.col-text {
    margin-right: clamp(0.15rem, 1vw, 1rem);
    width: 40%;
    float: left;
}

.col-text-short {
    margin-right: clamp(0.15rem, 0.75vw, 0.75rem);
    width: 30%;
    float: left;
}

.col-price-text {
    width: 40%;
    float: left;
}

.col-price {
    width: 20%;
    float: left;
    text-align: right;
    padding-right: clamp(0.15rem, 0.5vw, 1rem);
}

.row:before,
.row:after {
    content: " ";
    display: table;
}

.row:after {
    clear: both;
}

.box {
    box-shadow:
        0 1px 1px hsl(0deg 0% 0% / 0.075),
        0 2px 2px hsl(0deg 0% 0% / 0.075),
        0 4px 4px hsl(0deg 0% 0% / 0.075),
        0 8px 8px hsl(0deg 0% 0% / 0.075),
        0 16px 16px hsl(0deg 0% 0% / 0.075);
}

.rounded {
    border-radius: 0.35rem;
}

/* FOOTER */

.contacts {
    width: 100vw;
    background: #130e06c7;

    display: flex;
    flex-direction: column;

    position: fixed;
    z-index: 3;
    bottom: 0px;
}

.contact-container {
    max-width: 1160px;
    margin: 0 auto;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: clamp(4rem, 6vw, 5.5rem);
}

.contact-container ul {
    font-size: clamp(1rem, 3vw, 1.5rem);
    line-height: 1;

    display: flex;
    flex-direction: column;
    gap: clamp(0.25rem, 1vw, 1.5rem);
    padding-top: 0.35rem;
    padding-bottom: 0.15rem;
}

.contacts a {
    display: block;
    white-space: nowrap;
}

.contacts li {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.contacts i {
    margin-right: 1rem;
}

.author-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 0.25rem;
    padding-bottom: 0.15rem;
}

.author-container a {
    display: inline;
    font-weight: normal;
}

.mapouter {
    position:relative;
    height:160px;
    width:320px;
    padding-top: 0.35rem;
    padding-bottom: 0.15rem;
    margin-bottom: 0.75rem;
}

.gmap_canvas {
    overflow:hidden;
    background:none!important;
    height:160px;
    width:320px;
}

#gmap_canvas {
    width: 320px;
    height: 160px;
}

.map-ico {
    display: none;
    line-height: clamp(1.5rem, 1vw, 5rem);
    font-size: clamp(1.5rem, 1vw, 3rem);
    text-align: right;
    margin-left: clamp(0.15rem, 1vw, 2rem);
    padding-top: 1.15rem;
}

/* RESPONSIVE */

@media screen and (min-width: 810px) {
    
    main {
        padding: 10rem 0;
    }

    .feature {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10rem;
        padding: 1rem 0;
        border-right: .75rem solid #CFA86E;
        border-radius: 0.5rem;
    }

    .feature:nth-child(even) {
        flex-direction: row-reverse;
        border-left: .75rem solid #CFA86E;
        border-right: none;
    }

    .feature:nth-child(even) button {
        float: right;
    }

    .feature figure {
        flex: 4;
    }

    .feature .content {
        flex: 6;
        padding: 0 2rem;
        position: static;
    }
}

@media screen and (min-width: 420px) {

    header {
        background-size: cover;
    }

}

@media screen and (min-width: 1360px) {

    main {
        background-size: contain;
    }   

}

@media screen and (max-width: 1070px) {

    .main-nav ul,
    .contact-container ul {
        font-size: clamp(1rem, 3vw, 1.25rem);
    }   

}

@media screen and (max-width: 940px) {
    .contact-container {
        gap: clamp(1rem, 2vw, 1.75rem);
    }

    .mapouter,
    .gmap_canvas,
    #gmap_canvas {
        height:120px;
        width:280px;
    }

}

@media screen and (max-width: 840px) {
    .container {
        padding: 0 0.5rem;
    }

    .contact-container {
        gap: clamp(0.5rem, 1vw, 1rem);
    }

}

@media screen and (max-width: 740px) {
    .mapouter {
        display: none;
    }

    .map-ico {
        display: block;
    }
}

@media screen and (max-width: 605px) {
    .main-nav ul {
       display: none;
    }

    .menu-dropdown {
        display: block;
    }
}