/* CSS Document */

:root {
   /* --bg-secondary: url('../images/forest2.jpg') center center no-repeat;*/
    /* --bg-secondary: #000; */
    /* --cl-accent: #FF00A3; */
    --cl-accent: #9DB023;
    --cl-button: #9DB023;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-kerning: auto;
}

html {
    font-size: 100%;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;

    --scroll-behavior: smooth;
    scroll-behavior: smooth;
    scroll-padding-top: 10rem;
}

body {
    color: #EEECCD;
    background: #130e06;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;

    overflow: hidden;
    overflow-y: auto;
}

b,
strong {
    font-weight: bolder;
}

a {
    color: inherit;
    background-color: transparent;
}

img {
    border-style: none;
    max-width: 100%;
    height: auto;
}

p {
    font-size: 1.15rem;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    margin: 1rem 0 0;
    text-shadow: 1px 1px 0 #0F2E14;
}

input,
button {
    font-size: clamp(1.25rem, 8vw, 2.25rem);
    font-family: inherit;
    line-height: 1;
}

button {
    cursor: pointer;
    color: #0F2E14;
    font-weight: bold;
    background-color: #CFA86E;
    border-radius: 0.5rem;
    border: none;
    box-shadow: 2px 2px 0 #0F2E14;
    margin-top: 2rem;
}


h1,
h2,
h3 {
    margin: 0;
    line-height: 1;
}

h2 {
    font-size: 1.75rem;
    font-size: clamp(1.25rem, 8vw, 2.25rem);
}

h3 {
    font-size: 2.25rem;
    font-size: clamp(1.50rem, 10vw, 2.75rem);
    line-height: 1;
    color: #CFA86E;
}

figure {
    margin: 2rem;
}


.menu {
    margin: 0;
    padding-left: 0;
}

.menu li {
    list-style: none;
}

.menu a {
    text-decoration: none;
}


.container {
    padding: 0 1.25rem;
    max-width: 1170px;
    margin: 0 auto;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted #130e06;
  }
  
.tooltip .tooltiptext {
    display: none;
    width: 240px;
    background-color: #130e06;
    color: #f5ce59;
    text-align: center;
    font-weight:normal;
    font-size:small;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }

  .tooltippar {
    font-weight:normal;
    font-size:small;
  }
  
  .tooltip:hover .tooltiptext {
    display: block;
  }

.price-butt {

}

.price-butt:hover, :active, :focus {
    text-decoration: none;
}

.price-list {
    display: none;
}

.price-list .kaceni {

}

.price-list .palivo {

}

.price-list .pila{

}

/* HEADER */

header {
    min-height: 100vh;

    background: url('../images/saw.jpg') center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 50%;
    background-color: #130e06;

    display: flex;
    align-items: flex-end;
}

.main-nav {
    width: 100vw;
    background: #130e06c7;

    position: fixed;
    z-index: 2;
    top: 0px;
}

.main-nav ul {
    font-size: clamp(1.15rem, 6vw, 2.25rem);
    line-height: 1;

    display: flex;
    gap: clamp(2rem, 4vw, 3.5rem);
}

.main-nav a {
    display: block;
    padding-top: 0.7rem;
    padding-bottom: 0.35rem;
}

/*.main-nav .steam {
    width: 3em;
    padding-left: 1rem;
    vertical-align: middle;
    display: none;
}*/

.main-nav li {
    display: flex;
    align-items: center;
}

/*.main-nav li:last-of-type {
    margin-left: auto;
}*/


/* RESPONSIVE */
@media screen and (min-width: 420px) {

    header {
        background-size: cover;
    }

}

@media screen and (min-width: 840px) {

    /* and (orientation: portrait) */

  /*  .logo {
        flex: 100%;
        position: relative;
        left: -68px;
    }*/

    .main-nav .steam {
        display: inline-block;
    }

}

@media screen and (max-width: 840px) and (orientation: landscape) {

    .main-nav ul {
        font-size: clamp(0.75rem, 4vw, 1.75rem);
    }

   /* .logo {
        text-align: center;
        position: relative;
        top: 2rem;
    }

    .logo img {
        width: 75%;
    }*/

}

/* FEATURES */
main {
    background: url('../images/forest.jpg') center center no-repeat;
    background-size: contain;
    background-attachment: fixed;
    padding: 4rem 0;
    position: relative;
}

.feature {
    margin-bottom: 4rem;
    background: #130e06c7;
}

.feature:last-of-type {
    margin-bottom: 0;
}

.feature h2 {
    color: var(--cl-accent);
    text-shadow: 3px 3px 0 #0F2E14;
}

.feature h3 {
    text-shadow: 1px 1px 0 #0F2E14;
}

.feature .content {
    position: relative;
    bottom: 2rem;
    padding: 2rem;
}

/* RESPONSIVE */
@media screen and (min-width: 810px) {

    main {
        padding: 10rem 0;
    }

    .feature {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10rem;
        padding: 1rem 0;
        border-right: .75rem solid #CFA86E;
        border-radius: 0.5rem;
    }

    .feature:nth-child(even) {
        flex-direction: row-reverse;
        border-left: .75rem solid #CFA86E;
        border-right: none;
    }

    .feature figure {
        flex: 4;
    }

    .feature .content {
        flex: 6;
        padding: 0 2rem;
        position: static;
    }

}

.box {
    box-shadow:
        0 1px 1px hsl(0deg 0% 0% / 0.075),
        0 2px 2px hsl(0deg 0% 0% / 0.075),
        0 4px 4px hsl(0deg 0% 0% / 0.075),
        0 8px 8px hsl(0deg 0% 0% / 0.075),
        0 16px 16px hsl(0deg 0% 0% / 0.075);
}

.rounded {
    border-radius: 0.5rem;
}

/* FOOTER */

.contacts {
    width: 100vw;
    background: #130e06c7;
    display: flex;

    position: fixed;
    z-index: 2;
    bottom: 0px;
}

.contacts ul {
    font-size: clamp(0.75rem, 3vw, 1.75rem);
    line-height: 1;

    display: flex;
    flex-direction: column;
    gap: clamp(0.25rem, 1vw, 1.5rem);
    padding-top: 0.7rem;
    padding-bottom: 0.35rem;
}

.contacts a {
    display: block;
    white-space: nowrap;
}

.contacts li {
    display: flex;
    align-items: flex-start;
}

.contacts i {
    margin-right: 1rem;
}

/*.contacts li:last-of-type {
    margin-left: auto;
}*/
